* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: steelblue;
    --gray: gray;
    --black: black;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
}

nav {
    background-color: var(--blue);
    padding: 10px;
}

nav a {
    color: white;
    padding: 10PX;
    display: block;
}

h1 {
    color: var(--blue);
    padding: .5rem;
}

main {
    max-width: 640px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--blue);
    padding: 2px;
    box-shadow: 0 0 30px var(--gray);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--gray);
    background-color: #eee;
    color: var(--black);
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 67px;
    left: 150px;
    color: white;
}

footer {
    margin-top: 1em;
    border-top: 1px solid var(--black);
    text-align: center;
}